.body {
  margin: 200px auto;
}
.addProductButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper {
  width: 500px;
  height: 200px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.formContainer > input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.formSubmit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.formSubmit > input {
  margin: 10px;
  height: 40px;
  width: 200px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
}
.formSubmit > input:hover {
  background-color: rgb(9, 48, 121);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
