.body {
  margin: 200px auto;
}
.addProductButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper {
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.formContainer > input {
  margin: 10px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
